### Importación de datos

In [3]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [4]:
# Diccionario de tiendas
tiendas = {
    "Tienda 1": tienda,
    "Tienda 2": tienda2,
    "Tienda 3": tienda3,
    "Tienda 4": tienda4
}

In [5]:
# 1. Ingresos totales
def calcular_ingresos(tiendas):
    return {nombre: datos['Precio'].sum() for nombre, datos in tiendas.items()}

ingresos = calcular_ingresos(tiendas)
print("\n--- 1. Ingresos Totales ---")
for nombre, total in ingresos.items():
    print(f"{nombre}: ${total:,.2f}")

--- 1. Ingresos Totales ---
Tienda 1: $1,150,880,400.00
Tienda 2: $1,116,343,500.00
Tienda 3: $1,098,019,600.00
Tienda 4: $1,038,375,700.00

# 2. Ventas por categoría

In [6]:
def ventas_por_categoria(tiendas):
    resultados = {}
    for nombre, datos in tiendas.items():
        resultados[nombre] = datos['Categoría del Producto'].value_counts().to_dict()
    return resultados

categorias_vendidas = ventas_por_categoria(tiendas)
print("\n--- 2. Ventas por Categoría ---")
for nombre, categorias in categorias_vendidas.items():
    print(f"\n{nombre}:")
    for categoria, cantidad in categorias.items():
        print(f"  {categoria}: {cantidad} ventas")

--- 2. Ventas por Categoría ---

Tienda 1:
  Muebles: 465 ventas
  Electrónicos: 448 ventas
  Juguetes: 324 ventas
  Electrodomésticos: 312 ventas
  Deportes y diversión: 284 ventas
  Instrumentos musicales: 182 ventas
  Libros: 173 ventas
  Artículos para el hogar: 171 ventas

Tienda 2:
  Muebles: 442 ventas
  Electrónicos: 422 ventas
  Juguetes: 313 ventas
  Electrodomésticos: 305 ventas
  Deportes y diversión: 275 ventas
  Instrumentos musicales: 224 ventas
  Libros: 197 ventas
  Artículos para el hogar: 181 ventas

Tienda 3:
  Muebles: 499 ventas
  Electrónicos: 451 ventas
  Juguetes: 315 ventas
  Electrodomésticos: 278 ventas
  Deportes y diversión: 277 ventas
  Libros: 185 ventas
  Instrumentos musicales: 177 ventas
  Artículos para el hogar: 177 ventas

Tienda 4:
  Muebles: 480 ventas
  Electrónicos: 451 ventas
  Juguetes: 338 ventas
  Deportes y diversión: 277 ventas
  Electrodomésticos: 254 ventas
  Artículos para el hogar: 201 ventas
  Libros: 187 ventas
  Instrumentos musicales: 170 ventas

# 3. Calificación promedio de la tienda

In [7]:
def calificacion_promedio(tiendas):
    return {nombre: datos['Calificación'].mean() for nombre, datos in tiendas.items()}

calificaciones = calificacion_promedio(tiendas)
print("\n--- 3. Calificación Promedio ---")
for nombre, promedio in calificaciones.items():
    print(f"{nombre}: {promedio:.1f}/5")

--- 3. Calificación Promedio ---
Tienda 1: 4.0/5
Tienda 2: 4.0/5
Tienda 3: 4.0/5
Tienda 4: 4.0/5

# 4. Productos más y menos vendidos

In [8]:
def productos_destacados(tiendas, top_n=3):
    resultados = {}
    for nombre, datos in tiendas.items():
        conteo = datos['Producto'].value_counts()
        resultados[nombre] = {
            'top': conteo.head(top_n).to_dict(),
            'bottom': conteo.tail(top_n).to_dict()
        }
    return resultados

productos = productos_destacados(tiendas)
print("\n--- 4. Productos Destacados ---")
for nombre, datos in productos.items():
    print(f"\n{nombre}:")
    print("  Más vendidos:")
    for producto, cantidad in datos['top'].items():
        print(f"    {producto}: {cantidad} unidades")
    print("  Menos vendidos:")
    for producto, cantidad in datos['bottom'].items():
        print(f"    {producto}: {cantidad} unidades")

--- 4. Productos Destacados ---

Tienda 1:
  Más vendidos:
    Microondas: 60 unidades
    TV LED UHD 4K: 60 unidades
    Armario: 60 unidades
  Menos vendidos:
    Olla de presión: 35 unidades
    Auriculares con micrófono: 33 unidades
    Celular ABXY: 33 unidades

Tienda 2:
  Más vendidos:
    Iniciando en programación: 65 unidades
    Microondas: 62 unidades
    Batería: 61 unidades
  Menos vendidos:
    Mesa de comedor: 34 unidades
    Impresora: 34 unidades
    Juego de mesa: 32 unidades

Tienda 3:
  Más vendidos:
    Kit de bancas: 57 unidades
    Mesa de comedor: 56 unidades
    Cama king: 56 unidades
  Menos vendidos:
    Mochila: 36 unidades
    Microondas: 36 unidades
    Bloques de construcción: 35 unidades

Tienda 4:
  Más vendidos:
    Cama box: 62 unidades
    Cubertería: 59 unidades
    Dashboards con Power BI: 56 unidades
  Menos vendidos:
    Guitarra acústica: 37 unidades
    Armario: 34 unidades
    Guitarra eléctrica: 33 unidades

# 5. Envío promedio por tienda

In [9]:
def costo_envio_promedio(tiendas):
    return {nombre: datos['Costo de envío'].mean() for nombre, datos in tiendas.items()}

envios = costo_envio_promedio(tiendas)
print("\n--- 5. Envío Promedio ---")
for nombre, costo in envios.items():
    print(f"{nombre}: ${costo:,.2f}")

--- 5. Envío Promedio ---
Tienda 1: $26,018.61
Tienda 2: $25,216.24
Tienda 3: $24,805.68
Tienda 4: $23,459.46

In [10]:
# RECOMENDACIÓN FINAL (Basada en datos)
def recomendar_tienda(ingresos, calificaciones, envios):
    return min(
        ingresos.keys(),
        key=lambda x: (ingresos[x], -calificaciones[x], envios[x])
    )

tienda_recomendada = recomendar_tienda(ingresos, calificaciones, envios)
print("\n--- Recomendación Final ---")
print(f"Vender la {tienda_recomendada} (Ingresos: ${ingresos[tienda_recomendada]:,.2f}, " +
      f"Calificación: {calificaciones[tienda_recomendada]:.1f}/5, " +
      f"Envío: ${envios[tienda_recomendada]:,.2f})")

--- Recomendación Final ---
Vender la Tienda 4 (Ingresos: $1,038,375,700.00, Calificación: 4.0/5, Envío: $23,459.46)